:root {
  --main-bg-color: #9abcc7;
  --secundary-bg-color: #f7f2f2;
  --font-color: #222;
}

html {
  font-size: 62.5%;
  font-family: "Montserrat";
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  background-color: var(--secundary-bg-color);
}

body.menu-abierto {
  overflow: hidden;
  padding-right: 15px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem;
  background-color: var(--main-bg-color);
}

.header__logo {
  height: 8rem;
}

.nav {
  position: fixed;
  inset: 0;
  background-color: #9abcc7;
  z-index: 1000;

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
}

.nav-visible {
  opacity: 1;
  visibility: visible;
}

.close-menu,
.abrir-menu {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 5rem;
}

.close-menu {
  position: fixed;
  top: 2.5rem;
  right: 2.7rem;
  z-index: 1100;
}

.nav__list {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 3rem;
  list-style-type: none;
}

.nav__list-item a {
  text-decoration: none;
  color: var(--font-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2.5rem;
}

.main__paragraph {
  text-align: justify;
  margin: 1rem 0;
}

.main__kaliviLogo {
  width: 25rem;
  margin: 2rem 0;
}

.main__paragraph {
  text-align: justify;
  margin: 1rem 0;
}

.team {
  text-align: center;
}

.team__title {
  font-weight: bold;
  letter-spacing: 0.2rem;
  margin: 2rem 0 0 0;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.5rem;
}

.card__img {
  width: 150px;
  border-radius: 150px;
  border: 4px solid var(--main-bg-color);
  margin: 1.5rem 0 1.5rem 0;
}

.card__name {
  font-weight: 200;
}

.card__text {
  padding: 3rem 0;
  text-align: justify;
}

.footer {
  background-color: var(--main-bg-color);
  padding: 2.5rem;
}

.footerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footerContainer__text {
  margin: 2rem 0;
  text-align: justify;
}

.footerContainer__social a {
  text-decoration: none;
  margin: 1rem;
  color: var(--secundary-bg-color);
}

.footerContainer__copy {
  margin: 1.2rem 0;
}

/* == DESKTOP == */

@media (min-width: 991px) {
  body {
    font-size: 2rem;
  }

  .nav {
    opacity: 1;
    visibility: visible;
    position: static;
    flex-direction: row;
    align-items: center;
    padding: 0;
    box-shadow: none;
    background-color: transparent;
  }

  .nav__list {
    flex-direction: row;
    gap: 3rem;
  }

  .close-menu {
    display: none;
  }

  .abrir-menu {
    display: none;
  }

  .main__kaliviLogo {
    width: 50rem;
  }

  .main__paragraph {
    max-width: 900px;
  }

  .card__text {
    max-width: 500px;
  }

  .main__paragraph,
  .card__text {
    line-height: 3rem;
  }

  .navbar__links a {
    position: relative;
    padding: 0.5rem 0;
  }

  .navbar__links a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #222;
    transition: width 0.3s ease;
  }

  .navbar__links a:hover::after {
    width: 100%;
  }
}
