:root {
  --main-bg-color: #9abcc7;
  --secundary-bg-color: #f7f2f2;
}

html {
  font-size: 62.5%;
  font-family: "Montserrat";
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  background-color: var(--secundary-bg-color);
}

/* == ABOUT == */

.header {
  background-color: var(--main-bg-color);
  padding: 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar__img {
  height: 50px;
}

.navbar__burgerBox {
  padding: 12px;
  border: none;
  background-color: transparent;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2.5rem;
}

.main__paragraph {
  text-align: justify;
  margin: 1rem 0;
}

.main__kaliviLogo {
  width: 25rem;
  margin: 2rem 0;
}

.main__paragraph {
  text-align: justify;
  margin: 1rem 0;
}

.team {
  text-align: center;
}

.team__title {
  font-weight: bold;
  letter-spacing: 0.2rem;
  margin: 2rem 0 0 0;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.5rem;
}

.card__img {
  width: 150px;
  border-radius: 150px;
  border: 4px solid var(--main-bg-color);
  margin: 1.5rem 0 1.5rem 0;
}

.card__name {
  font-weight: 200;
}

.card__text {
  padding: 3rem 0;
  text-align: justify;
}

.footer {
  background-color: var(--main-bg-color);
  padding: 2.5rem;
}

.footerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footerContainer__text {
  margin: 2rem 0;
  text-align: justify;
}

.footerContainer__social a {
  text-decoration: none;
  margin: 1rem;
  color: var(--secundary-bg-color);
}

.footerContainer__copy {
  margin: 1.2rem 0;
}


